{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
    <li>{{ ':-)' | transformEmoji }}</li>
    <li>{{ ';-)' | transformEmoji }}</li>
    <li>{{ ':-|' | transformEmoji }}</li>
    <li>{{ 'A4A4A4A4A4' | transformEmoji }}</li>
</ul>
{% endblock %}
